Babel==2.6.0
Flask-Babel==0.12.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-WTF==0.14.2
Flask==1.0.2
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
Pillow==5.3.0
SQLAlchemy==1.2.13
WTForms==2.2.1
Werkzeug==0.14.1
alembic==1.0.2
blinker==1.4
click==7.0
itsdangerous==1.1.0
psycopg2==2.7.5
python-dateutil==2.7.5
pytz==2018.7
raven==6.9.0
speaklater==1.3
sqlalchemy-mptt==0.2.3
sqltap==0.3.10
uwsgi==2.0.17.1
validators==0.12.2
