{% extends "confirm.html" %}

{% block content %}
  <main class="confirmation-dialog">
  <p>Are you sure that you want to delete the category named "{{ object.name }}"
    {%- if children_count == 1 %}
      <strong>its single</strong> subcategory
    {%- elif children_count > 1 %}
      <strong>and its {{ children_count }}</strong> subcategories
    {%- endif %}?</p>
    <p>This action cannot be undone.</p>
    <form method="post">
      {{ form.csrf_token }}
      <a href="{{ back_url }}" class="btn btn-default">No, go back</a>
      <button class="btn btn-danger">Yes, delete it</button>
    </form>
  </main>
{% endblock %}
