.form-narrow {
	max-width: 700px;
}

.form-horizontal {
	> .form-group:last-child {
		margin-bottom: 0;
	}
	label {
		display: block;
		margin-top: 8px;
	}
	.required label:after {
		content: "✶";
		padding-left: 3px;
		position: absolute;
		font-size: 0.8em;
		vertical-align: 30%;
		color: $brand-danger;
	}
	.checkbox label {
		margin-top: 0px;
	}
	.row-label {
		margin-top: 7px;
		margin-bottom: 6px;
		font-weight: bold;
	}
}
