// Libraries
@import "compass";
@import "compass/css3";
@import "bootstrap";
@import "font-awesome-compass";
@import "font-awesome";

// Main elements
@import "base";
@import "navbar";
@import "sidebar";
@import "forms";
@import "confirm";

// Modules
@import "treetable";
//@import "buttons";

// Content
@import "stock";

.categories-tree .element {
	> .delete {
		@include flex(0 0 8em);
		text-align: right;
	}
}


.btn-empty {
	color: #888;
	background-color: transparent;
	border-color: #bbb;
}
